<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Users</title>
</head>
<body>
  <h1>Users</h1>
  <ul>
    <% users.forEach(user => {%>
    <li>
      <%= user.id %> <%= user.name %> <%= user.email %> <%= user.password %>
    </li>
    <% }) %>
  </ul>
  <form action="/register" method="POST">
    <input type="text" name="name" id="name" placeholder="name" />
    <input type="text" name="email" id="email" placeholder="email" />
    <input type="number" name="password" id="password" placeholder="password(number)" />
    <button>Submit</button>
  </form>
</body>
</html>